*.iml
.gradle
.gradle.properties
gradle.properties
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
gradle.properties
/app/google-services.json
/app/src/main/res/drawable/bubble_1.9.png
/app/src/main/res/drawable/bubble_2.9.png
/app/src/main/res/drawable/bubble_3.9.png
/app/src/main/res/drawable/bubble_4.9.png

